Package: pysafet
Version: 1.0
Architecture: amd64
Maintainer: Victor Bravo <vbravo@cenditel.gob.ve>
Installed-Size: 2991
Depends: libc6 (>= 2.2.5), libgcc1 (>= 1:4.1.1), libqt4-network (>= 4:4.5.3), libqt4-sql (>= 4:4.5.3), libqt4-svg (>= 4:4.5.3), libqtcore4 (>= 4:4.8.0), libsafet, libstdc++6 (>= 4.1.1), libtar0, python (>= 2.7), python (<< 2.8), sip-api-8.1, python-qt4, python-qt4-sql
Section: python
Priority: optional
Description: Python binding to Libsafet Library (Workflow library)
